*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Quicksand", sans-serif;
  color: #9a9a9a;
  font-size: 15px;
  background: #fff;
}
.conteiner {
  max-width: 1150px;
  margin: 0 auto;
}
/* .conteiner2{
    max-width: 1520px;
    margin: 0 auto;
} */
.header_inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  position: relative;
  width: 100%;
}

.burger {
  display: none;
  position: absolute;
  height: 20px;
  width: 30px;
  border: none;
  border-top: 2px solid #433840;
  border-bottom: 2px solid #433840;
  order: 1;
}

.burger::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  color: #433840;
  border-bottom: 2px solid #433840;
  top: 5px;
  margin-left: -15px;
}

.top-nav-list {
  display: flex;
  position: relative;
  align-items: center;
}
.top-nav-item a {
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  color: #433840;
  margin-left: 20px;
}
.top-slider {
  position: relative;
  margin-bottom: 70px;
  /* display: flex; */
}
.top-nav-item a:hover {
  color: #fea3ac;
}
.slider {
  max-width: 1820px;
}
.slider-img {
  max-width: 1150px;
}

.slider-description {
  position: absolute;
  z-index: 1;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.slider-title {
  font-weight: bold;
  font-size: 50px;
  line-height: 62px;
}

.slider-subtitle {
  font-weight: 300;
  font-size: 30px;
  line-height: 50px;
  font-family: "Waiting for the Sunrise", cursive;
}
.favorites_inner {
  display: flex;
  align-items: center;
}

.favorite-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  color: #433840;
}

.favorite-description {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #9a9a9a;
  margin-top: 8px;
  margin-bottom: 80px;
}
.faforite-img {
  margin: 0 40px 0 40px;
}

.fruts {
  margin: 0 auto;
  background-image: url(../images/stats.jpg);
  max-width: 1520px;
  /* background-repeat: no-repeat; */
}
/* .fruets_inner{
    margin: 0 auto;
    background-image: url(../images/stats.jpg);
    background-repeat: no-repeat;
    height: 600px;
} */
.fruets_inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  text-align: center;
  color: #dfeeb6;
}
.frut-zahl {
  font-weight: 300;
  font-size: 60px;
  line-height: 99px;
  font-family: Waiting for the Sunrise;
}
.frut-descr {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}
.fruckt {
  height: 135px;
}
.h2-title {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  line-height: 62px;
  color: #433840;
}
.h2-subtitle {
  text-align: center;
  font-family: Waiting for the Sunrise;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 50px;
  color: #f7a1a8;
  margin-bottom: 20px;
}
.team_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 150px;
}
.team-item {
  display: flex;
  align-items: center;
  width: calc(50% - 10px);
  margin-top: 40px;
  position: relative;
  /* background: #C9E3F4; */
}
.team-foto {
  max-width: 330px;
}

.team_name {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
}
.team_work {
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #433840;
}
.team_work-description {
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #433840;
  margin-top: 15px;
  /* width:390px ;
height: 380px; */
}

.team_description {
  margin-left: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  width: 390px;
  height: 380px;
}
.blau {
  background: #c9e3f4;
}
.gelb {
  background: #dfeeb6;
}
.format_1 {
  position: absolute;
  z-index: -1;
  right: 0;
  text-align: end;
  padding-right: 20px;
  /* width:390px ;
    height: 380px; */
}
.format_2 {
  position: absolute;
  right: 0;
  text-align: start;
  padding-left: 20px;
}
.format_3 {
  text-align: left;
  padding-left: 20px;
}
.footer_inner {
  margin: 0 auto;
  background-image: url(../images/footer_fon.jpg);
  background-repeat: no-repeat;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-around;
}
.footer_subtitle {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 25px;
}

.footer_day {
  font-size: 20px;
  line-height: 35px;
  color: #ffffff;
}

.footer_time {
  color: #dfeeb6;
}

.inst-img {
  border-radius: 5px;
  margin: 5px;
}

.footer_foto {
  width: 33%;
}

.footer_info_text {
  font-size: 20px;
  line-height: 35px;
  color: #dfeeb6;
  margin-left: 10px;
}

.footer_info_text a {
  color: #dfeeb6;
  text-decoration: none;
}

.footer_info_text a:hover {
  /* color: #DFEEB6; */
  text-decoration: underline;
}
.footer_contackt-block {
  display: flex;
  align-items: center;
}

.menu_btn {
  display: none;
}

@media (max-width: 1370px) {
  .favorites_inner {
    flex-wrap: wrap;
  }
  .favorite-link {
    width: calc(50% - 10px);
  }
  .favorite-richt {
    width: 50%;
    width: calc(50% - 10px);
  }
  .faforite-img {
    order: 1;
  }
}

@media (max-width: 1150px) {
  .favorites_inner {
    display: flex;
    align-items: baseline;
  }
  .favorite-description {
    margin-bottom: 30px;
  }
  .faforite-img {
    display: none;
    /* margin-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 40px; */
  }
  .favorite-title {
    text-align: center;
  }
  .team-item {
    flex-direction: column;
  }
  .format_1 {
    position: relative;
    text-align: center;
  }
  .team_description {
    height: 100%;
  }
  .format_2 {
    position: relative;
    text-align: center;
  }
  .format_3 {
    text-align: center;
  }
  .team-foto {
    margin-bottom: 20px;
  }
}
@media (max-width: 1005px) {
  .footer_inner {
    width: 100%;
    flex-wrap: wrap;
  }
  .footer_time {
    width: 50%;
  }
  .footer_foto {
    width: 100%;
    order: -1;
    text-align: center;
  }
  .footer_img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer_inner {
    background-repeat: repeat;
  }
}

@media (max-width: 820px) {
  .team-item {
    width: 100%;
  }
  /* .team-foto {
    margin-bottom: 20px;
  } */
}

@media (max-width: 670px) {
  .logo {
    display: none;
  }
}

@media (max-width: 540px) {
  .logo {
    display: none;
    position: absolute;
  }
  .header_inner {
    z-index: 2;
    display: block;
    width: 100%;
    /* background-color: thistle; */
  }

  .top-nav-list {
    display: block;
    transform: translateY(-200px);
  }

  .top-nav-list.top-nav-list--active {
    transform: translateY(0);
    transition: all 0.5ms;
    background-color: thistle;
  }
  .top-nav {
    width: 100%;
    text-align: center;
    /* background-color: thistle; */
  }

  .menu_btn {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 24px;
    border: none;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    background-color: transparent;

    position: absolute;
    z-index: 1;
    margin-top: 10px;
    margin-left: 10px;
  }
  .menu_btn::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #0c0808;
    left: 0;
    top: 9px;
  }
  .footer_time {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 950px) {
  .fruts {
    background-image: none;
    background-color: #fea3ac;
  }
  .fruets_inner {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
}
